<h4>Materi Question Form</h4>
<div class="line"></div>
<form [formGroup]="detailForm" (ngSubmit)="onSubmit()">
  <div class="form-group row">
    <label for="inputQuestion" class="col-sm-2 col-form-label required">Question</label>
    <div class="col-sm-10 editor-outer">
      <quill-editor formControlName="question" [style]="{height: '200px'}"></quill-editor>
    </div>
  </div>
  <div class="form-group row">
    <label for="inputChoiceA" class="col-sm-2 col-form-label required">Choice A</label>
    <div class="col-sm-10 editor-outer">
      <quill-editor formControlName="choiceA" [style]="{height: '250px'}"></quill-editor>
    </div>
  </div>
  <div class="form-group row">
    <label for="inputChoiceB" class="col-sm-2 col-form-label required">Choice B</label>
    <div class="col-sm-10 editor-outer">
      <quill-editor formControlName="choiceB" [style]="{height: '200px'}"></quill-editor>
    </div>
  </div>
  <div class="form-group row">
    <label for="inputChoiceC" class="col-sm-2 col-form-label required">Choice C</label>
    <div class="col-sm-10 editor-outer">
      <quill-editor formControlName="choiceC" [style]="{height: '200px'}"></quill-editor>
    </div>
  </div>
  <div class="form-group row">
    <label for="inputChoiceD" class="col-sm-2 col-form-label required">Choice D</label>
    <div class="col-sm-10 editor-outer">
      <quill-editor formControlName="choiceD" [style]="{height: '200px'}"></quill-editor>
    </div>
  </div>
  <div class="form-group row">
    <label for="inputAnswer" class="col-sm-2 col-form-label required">Answer</label>
    <div class="col-sm-4">
      <div [ngClass]="detailForm.controls.answer.errors && detailForm.controls.answer.touched ? 'input-error' : ''">
        <ng-select 
          [items]="answer"
          bindLabel="value"
          bindValue="code"
          [multiple]="false"
          formControlName="answer"
          placeholder="Select Answer">
        </ng-select>
      </div>
      <span class="text-danger invalidMessage" *ngIf="detailForm.controls.answer.touched && detailForm.controls.answer.errors">
        <span *ngIf="detailForm.controls.answer.errors?.required">Required at Least 1.</span>
      </span>
    </div>
  </div>
  <div class="form-group row">
    <div class="col-sm-10 offset-sm-2">
      <div class="btn-group mr-2">
        <button type="submit" class="btn btn-primary" [disabled]="!detailForm.valid" (click)="onSave()"><i class="fa fa-save"> Save</i></button>
      </div>
      <div class="btn-group mr-2">
        <button type="button" class="btn btn-secondary" (click)="onBack()"><i class="fa fa-ban"> Back</i></button>
      </div>
      <div class="btn-group">
        <button type="button" class="btn btn-info" (click)="onClear()"><i class="fa fa-ban"> Clear</i></button>
      </div>
    </div>
  </div>
</form>
<div class="line"></div>
<h4>Materi Question</h4>
<div class="table-responsive-sm">
  <table class="table table-sm">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Header</th>
        <th scope="col">Created Date</th>
      </tr>
    </thead>
    <tbody *ngIf="page">
      <tr *ngFor="let question of page.data; let i = index">
        <td scope="row">{{ i + 1 }}</td>
        <td>{{ question.id }}</td>
        <td>{{ question.createdDate | dateTimeFormat }}</td>
      </tr>
    </tbody>
  </table>
</div>
<asdp-paging *ngIf="page" [pagingData]="page" (notify)="onNotify($event)"></asdp-paging>