<div id="modal-materi-header" class="modal fade" role="dialog" data-backdrop="static" data-keyboard="false">
  <div class="modal-dialog">
    <div class="modal-content">
      <form [formGroup]="detailForm" (ngSubmit)="onSubmit()">
        <div class="modal-header">
            <h6 class="modal-title">Materi Header</h6>
        </div>
        <div class="modal-body">
          <div class="form-group row">
            <label for="inputNama" class="col-sm-2 col-form-label required">Nama</label>
            <div class="col-sm-10">
              <input type="text" class="form-control" [ngClass]="detailForm.controls.name.errors && detailForm.controls.name.touched ? ' error' : ''" formControlName="name" name="name" placeholder="Name" autocomplete="off">
              <span class="text-danger invalidMessage" *ngIf="detailForm.controls.name.touched && detailForm.controls.name.errors">
                <span *ngIf="detailForm.controls.name.errors?.required">Name Required.</span>
                <span *ngIf="detailForm.controls.name.errors?.maxlength">Max Length of Name 100.</span>
              </span>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="submit" class="btn btn-primary" [disabled]="!detailForm.valid" (click)="onSave()"><i class="fa fa-save"> Save</i></button>
          <button type="button" class="btn btn-secondary" (click)="onCancel()"><i class="fa fa-ban"> Cancel</i></button>
        </div>
      </form>
    </div>
  </div>
</div>
