<h4>Document Upload Form</h4>
<div class="line"></div>
<div class="row">
  <div class="col-sm-12"><h6>Name : <span *ngIf="dtDocument">{{ dtDocument.name }}</span></h6></div>
</div>
<div class="row">
  <div class="col-sm-12">
    <label class="btn">
      <input type="file" (change)="onSelectFile($event)" accept="application/pdf">
    </label>
    <button class="btn btn-success" [disabled]="!selectedFiles" (click)="onUpload()"><i class="fa fa-cloud-upload"> Upload</i></button>
    <button class="btn btn-secondary" (click)="onBack()"><i class="fa fa-arrow-left" aria-hidden="true"> Back</i></button>
  </div>
</div>
<div *ngIf="currentFile" class="progress">
  <div class="progress-bar progress-bar-info progress-bar-striped" role="progressbar" 
    attr.aria-valuenow="{{progress.percentage}}"
    aria-valuemin="0" aria-valuemax="100" 
    [ngStyle]="{width:progress.percentage+'%'}">
    {{progress.percentage}}%
  </div>
</div>
<br/>
<div class="table-responsive-sm">
  <table class="table table-sm">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Name File</th>
        <th scope="col">Action</th>
      </tr>
    </thead>
    <tbody *ngIf="dtDocument">
      <tr *ngFor="let file of dtDocument.nameFile; let i = index">
        <th scope="row">{{ i + 1 }}</th>
        <td>{{ file }}</td>
        <td>
          <button type="button" class="btn btn-primary btn-sm" (click)="onPreview(dtDocument.urlPreview + file)">Preview</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
<asdp-modal-file [urlFile]="urlFile"></asdp-modal-file>