<div class="row">
  <div class="col-sm-12">
    <nav aria-label="...">
      <ul class="pagination pagination-sm justify-content-center">
        <li class="page-item" [class.disabled]="pageIndex <= 0">
          <a class="page-link" tabindex="-1" (click)="onFirstPage()">First</a>
        </li>
        <li class="page-item" [class.disabled]="pageIndex <= 0">
          <a class="page-link" tabindex="-1" (click)="onPreviousPage()">Previous</a>
        </li>
        <span *ngFor="let page of pages">
          <li class="page-item" [class.active]="(pageIndex + 1) == page">
            <a class="page-link" (click)="onSelectPage(page)">{{ page }}
              <span class="sr-only" *ngIf="isCurrent(page)">(current)</span>
            </a>
          </li>
        </span>
        <li class="page-item" [class.disabled]="(pageIndex + 1) >= totalPage">
          <a class="page-link" (click)="onNextPage()">Next</a>
        </li>
        <li class="page-item" [class.disabled]="(pageIndex + 1) >= totalPage">
          <a class="page-link" (click)="onLastPage()">Last</a>
        </li>
      </ul>
    </nav>
  </div>
</div>
