<div class="row">
  <div class="col-sm-6">
    <h4>Quiz</h4>
  </div>
  <div class="col-sm-6 text-right">
    <button type="button" class="btn btn-info" (click)="onResult()"><i class="fa fa-list-alt"> Result</i></button>
  </div>
</div>

<div *ngIf="page">
  <div class="card bg-light" *ngFor="let quiz of page.data; let i = index">
    <div class="card-header">
      <h5 class="mb-0">
        {{ i + 1 }}. 
        <button class="btn btn-link" type="button" (click)="onCollapse('#' + quiz.id)">
          {{ quiz.name | titlecase  }}
        </button>
      </h5>
    </div>
    <div id="{{ quiz.id }}" class="collapse" aria-expanded="false">
      <div class="card-body">
        <div class="row">
          <div class="col-sm-12">
            <div class="col-sm-12 text-center" [innerHTML]="quiz.description"></div>
            <div class="col-sm-12 text-center">
              <p>Start Quiz : &nbsp;
              <p>{{ quiz.startDate | dateTimeFormat }} s/d {{ quiz.endDate | dateTimeFormat }}</p>
            </div>
            <div class="col-sm-12 text-center">
              <p>Jumlah Soal: &nbsp;{{ quiz.totalQuiz}} Soal</p>
            </div>
            <div class="col-sm-12 text-center">
              <p>Materi Quiz : </p>
            </div>
            <div class="row text-center" *ngIf="quiz.nameFile">
              <div class="col-sm-12" *ngFor="let file of quiz.nameFile; let i = index">
                {{ i + 1 }}.
                <a (click)="onPreview(quiz.urlPreview + file)">{{ file }}</a>
              </div>
            </div><br/>
            <div class="col-sm-12 text-center">
              <button type="button" class="btn btn-success btn-circle btn-xl" (click)="onStart(quiz.id)">
                <i class="fa fa-play" aria-hidden="true"></i>
                <p>Start</p>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<br />
<asdp-paging *ngIf="page" [pagingData]="page" (notify)="onNotify($event)"></asdp-paging>
<asdp-modal-file [urlFile]="urlFile"></asdp-modal-file>