<div class="accordion" id="accordionExample" *ngIf="page">
  <div class="card" *ngFor="let quiz of page.data; let i = index">
    <div class="card-header">
      <h5 class="mb-0">
        <button class="btn btn-link" type="button" (click)="onCollapse('#' + quiz.name)">
          {{ quiz.name }}
        </button>
      </h5>
    </div>
    <div id="{{ quiz.name }}" class="collapse" aria-expanded="false">
      <div class="card-body">
        <div class="row">
          <div class="col-sm-12" [innerHTML]="quiz.description"></div>
        </div>
      </div>
    </div>
  </div>
</div>
<asdp-paging *ngIf="page" [pagingData]="page" (notify)="onNotify($event)"></asdp-paging>