<div class="accordion" id="accordionExample" *ngIf="page">
  <div class="card" *ngFor="let quiz of page.data; let i = index">
    <div class="card-header">
      <h5 class="mb-0">
        <button class="btn btn-link" type="button" (click)="onCollapse('#' + quiz.id)">
          {{ quiz.name }}
        </button>
      </h5>
    </div>
    <div id="{{ quiz.id }}" class="collapse" aria-expanded="false">
      <div class="card-body">
        <div class="row">
          <div class="center col-sm-12" [innerHTML]="quiz.description"></div>
          <div class="center col-sm-12"><p>Waktu Mulai Kuis : {{ quiz.startDate | dateTimeFormat }} s/d {{ quiz.endDate | dateTimeFormat }} </p></div>
          <div class="center col-sm-12"><p>Jumlah Soal Kuis : {{ quiz.totalQuiz}} Soal</p></div>
          <div class="left col-sm-12" *ngIf="quiz.nameFile">
            <div *ngFor="let file of quiz.nameFile; let i = index">
              <a (click)="onPreview(quiz.urlPreview + file)">{{ i + 1 }}. {{ file }}</a>
            </div>
          </div>
          <div class="center col-sm-12">
            <button type="button" class="btn" (click)="onStart(quiz.id)"><i class="fa fa-play" aria-hidden="true"> Start</i></button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<br />
<asdp-paging *ngIf="page" [pagingData]="page" (notify)="onNotify($event)"></asdp-paging>