div a {
    text-decoration: underline;
    color: blue;
    cursor: pointer;
}

h4 {
   display: inline-block;
}

.btn-circle.btn-xl {
    width: 130px;
    height: 130px;
    padding: 10px 16px 0 21px;
    border-radius: 50%;
}

.btn-circle.btn-xl i{
    font-size: 30px;
    line-height: 1.3;
}

.btn-circle.btn-xl p{
    font-size: 20px;
}