<div class="card">
  <div class="card-header">
    User Content
  </div>
  <div class="card-body text-center">
    <p>Welcome, {{ user }}<br/>
      <ng-container *ngIf="jabatan">{{ jabatan }}<br/></ng-container>
      as {{ role }}<br/>
      <ng-container *ngIf="expiredDate">expired {{ expiredDate }}</ng-container>
    </p>
    <p>
      <button type="button" class="btn btn-info" (click)="onChangePassword()">Change Password</button>
    </p>
    <p>
      <button type="button" class="btn btn-secondary" (click)="goSignOut()">Sign Out</button>
    </p>
  </div>
</div>