<div class="container mt-3 white">
  <div class="row pt-4">
    <div class="col-sm-12">
      <img src="../../assets/image/logo_asdp_rev.png" alt="Image Logo" />
    </div>
  </div>
  <hr/>
  <div class="row mb-3">
    <div class="col-sm-12">
      <img class="img-fluid" src="../../assets/image/banner_information.jpeg" alt="Image Information">
    </div>
  </div>
  <div class="row pb-3">
    <div class="col-sm-12 login-form">
      <form class="p-3" [formGroup]="loginForm" (ngSubmit)="loginUser()">
        <div class="form-group row justify-content-center">
          <label for="staticEmail" class="col-sm-2 col-form-label label-text">Email</label>
          <div class="col-sm-4">
            <input type="email" class="form-control" [ngClass]="loginForm.controls.username.errors && loginForm.controls.username.touched ? ' error' : ''"  formControlName="username" name="username" placeholder="Email">
            <span class="text-danger invalidMessage" *ngIf="loginForm.controls.username.touched && loginForm.controls.username.errors">
              <span *ngIf="loginForm.controls.username.errors?.required">Email Required.</span>
            </span>
          </div>
        </div>
        <div class="form-group row justify-content-center">
          <label for="inputPassword" class="col-sm-2 col-form-label label-text">Password</label>
          <div class="col-sm-4">
            <input type="password" class="form-control" [ngClass]="loginForm.controls.password.errors && loginForm.controls.password.touched ? ' error' : ''" formControlName="password" name="password" placeholder="Password" autocomplete="on">
            <span class="text-danger invalidMessage" *ngIf="loginForm.controls.password.touched && loginForm.controls.password.errors">
              <span *ngIf="loginForm.controls.password.errors?.required">Password Required.</span>
            </span>  
          </div>
        </div>
        <div class="form-group row">
          <div class="col-sm-2 offset-sm-5">
            <button type="submit" class="btn btn-warning btn-block">Sign In</button>
          </div>
          <div class="col-sm-3">
            <a (click)="onForgetPassword()">Forget your Password ?</a>
          </div>
        </div>
      </form>
    </div>
  </div>
  <div class="pb-3">
    <asdp-footer></asdp-footer>
  </div>
</div>