<div class="bg">
  <div class="container">
    <div class="card border border-secondary rounded shadow-lg">
      <div class="row no-gutters">
        <div class="col-sm-4">
          <img src="../../assets/image/login.jpg" class="img-fluid img-login" alt="imgLogin" />
          <img src="../../assets/image/logo_asdp.png" class="img-fluid img-logo img-logo-simple" alt="imgLogin" />
        </div>
        <div class="col-sm px-4 py-3">
          <div class="card-block text-center block-header">
              <img src="../../assets/image/logo_asdp.png" class="img-fluid img-header" alt="imgLogin" />
          </div>
          <div class="card-block login-header">
            <h3>Selamat Datang</h3>
            <h3>Di Website Resmi ASDP</h3>
          </div>
          <div class="card-block login-form">
            <form [formGroup]="loginForm" (ngSubmit)="loginUser($event)">
              <div class="form-group">
                <input type="email" class="form-control" [ngClass]="loginForm.controls.username.errors && loginForm.controls.username.touched ? ' error' : ''"  formControlName="username" name="username" placeholder="Email">
                <span class="text-danger invalidMessage" *ngIf="loginForm.controls.username.touched && loginForm.controls.username.errors">
                  <span *ngIf="loginForm.controls.username.errors?.required">Email Required.</span>
                </span>
              </div>
              <div class="form-group">
                <input type="password" class="form-control" [ngClass]="loginForm.controls.username.errors && loginForm.controls.username.touched ? ' error' : ''" formControlName="password" name="password" placeholder="Password">
                <span class="text-danger invalidMessage" *ngIf="loginForm.controls.password.touched && loginForm.controls.password.errors">
                  <span *ngIf="loginForm.controls.password.errors?.required">Password Required.</span>
                </span>
              </div>
              <button type="submit" class="btn btn-warning btn-block">Sign In</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>