<div class="bg">
  <div class="container">
    <div class="card">
      <div class="row no-gutters shadow-lg rounded">
        <div class="col-sm-4">
          <img src="../../assets/image/login.jpg" class="img-fluid img-login" alt="imgLogin" />
          <img src="../../assets/image/logo_asdp.png" class="img-fluid img-logo img-logo-simple" alt="imgLogin" />
        </div>
        <div class="col-sm px-4 py-3">
          <div class="card-block text-center block-header">
              <img src="../../assets/image/logo_asdp.png" class="img-fluid img-header" alt="imgLogin" />
          </div>
          <div class="card-block login-header">
            <h1>Selamat Datang</h1>
            <h1>Di Website Resmi ASDP</h1>
          </div>
          <div class="card-block login-form">
            <form>
              <div class="form-group">
                <input type="email" class="form-control" aria-describedby="emailHelp" placeholder="Email">
              </div>
              <div class="form-group">
                <input type="password" class="form-control" placeholder="Password">
              </div>
              <button type="submit" class="btn btn-warning btn-block">Sign In</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>