<h4>Change Password</h4>
<div class="line"></div>
<form [formGroup]="passwordForm" (ngSubmit)="onSubmit()">
  <div class="form-group row">
    <label for="inputOldPassword" class="col-sm-3 col-form-label required">Old Password</label>
    <div class="col-sm-9">
      <input type="password" class="form-control" [ngClass]="passwordForm.controls.oldPassword.errors && passwordForm.controls.oldPassword.touched ? ' error' : ''" formControlName="oldPassword" name="oldPassword" placeholder="Old Password" autocomplete="off" minlength="7">
      <span class="text-danger invalidMessage" *ngIf="passwordForm.controls.oldPassword.touched && passwordForm.controls.oldPassword.errors">
        <span *ngIf="passwordForm.controls.oldPassword.errors?.required">Old Password Required.</span>
        <span *ngIf="passwordForm.controls.oldPassword.errors?.maxlength">Max Length of Old Password 7.</span>
      </span>
    </div>
  </div>
  <div class="form-group row">
    <label for="inputNewPassword" class="col-sm-3 col-form-label required">New Password</label>
    <div class="col-sm-9">
      <input type="password" class="form-control" [ngClass]="passwordForm.controls.newPassword.errors && passwordForm.controls.newPassword.touched ? ' error' : ''" formControlName="newPassword" name="newPassword" placeholder="New Password" autocomplete="off" minlength="7">
      <span class="text-danger invalidMessage" *ngIf="passwordForm.controls.newPassword.touched && passwordForm.controls.newPassword.errors">
        <span *ngIf="passwordForm.controls.newPassword.errors?.required">New Password Required.</span>
        <span *ngIf="passwordForm.controls.newPassword.errors?.minlength">Max Length of New Password 7.</span>
        <span *ngIf="passwordForm.controls.newPassword.errors?.weakPattern">New Password must be contain Upper & Lower Case, Number and Symbol.</span>
      </span>
    </div>
  </div>
  <div class="form-group row">
    <label for="inputRetypePassword" class="col-sm-3 col-form-label required">New Confirm Password</label>
    <div class="col-sm-9">
      <input type="password" class="form-control" [ngClass]="passwordForm.controls.confirmPassword.errors && passwordForm.controls.confirmPassword.touched ? ' error' : ''" formControlName="confirmPassword" name="confirmPassword" placeholder="Confirm Password" autocomplete="off" minlength="7">
      <span class="text-danger invalidMessage" *ngIf="passwordForm.controls.confirmPassword.touched && passwordForm.controls.confirmPassword.errors">
        <span *ngIf="passwordForm.controls.confirmPassword.errors?.required">Confirm Password Required.</span>
        <span *ngIf="passwordForm.controls.confirmPassword.errors?.minlength">Max Length of Confirm Password 7.</span>
        <span *ngIf="passwordForm.controls.confirmPassword.errors?.unmatch">New & Confirm password must be Same.</span>
      </span>
    </div>
  </div>
  <div class="form-group row">
    <div class="col-sm-2 offset-sm-3">
      <button type="submit" class="btn btn-block btn-primary" [disabled]="!passwordForm.valid" (click)="onSave()"><i class="fa fa-save"> Save</i></button>
    </div>
    <div class="col-sm-2">
      <button type="button" class="btn btn-block btn-secondary" (click)="onCancel()"><i class="fa fa-ban"> Cancel</i></button>
    </div>
  </div>
</form>
