.line {
    width: 100%;
    height: 1px;
    border-bottom: 1px solid #ddd;
    margin: 15px 0;
}

.col-sm-1.answer {
    max-width: 30px;
}

.round {
    display: inline-block;
    height: 30px;
    width: 30px;
    line-height: 30px;
    -moz-border-radius: 15px;
    border-radius: 15px;
    background-color: #222;    
    color: #FFF;
    text-align: center;  
}

.round.round-lg {
    height: 40px;
    width: 40px;
    line-height: 40px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    font-size: 1.5em;
}

.bullet {
    cursor: pointer;
}

h4 {
    display: inline-block;
}