<h4>User Form</h4>
<div class="line"></div>
<form [formGroup]="detailForm" (ngSubmit)="onSubmit()">
  <div class="form-group row">
    <label for="inputEmail" class="col-sm-2 col-form-label required">Email</label>
    <div class="col-sm-10">
      <input type="email" class="form-control" formControlName="username" name="username" placeholder="Email" autocomplete="off">
    </div>
  </div>
  <div class="form-group row">
    <label for="inputName" class="col-sm-2 col-form-label required">Name</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" formControlName="name" name="name" placeholder="Name" autocomplete="off">
    </div>
  </div>
  <div class="form-group row">
    <label for="inputMobilePhone" class="col-sm-2 col-form-label required">Mobile Phone</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" formControlName="noHp" name="noHp" placeholder="Mobile Phone" autocomplete="off">
    </div>
  </div>
  <div class="form-group row">
    <label for="inputAlamat" class="col-sm-2 col-form-label">Alamat</label>
    <div class="col-sm-10">
      <textarea class="form-control" rows="5" formControlName="alamat" name="alamat" maxlength="255"></textarea>
    </div>
  </div>
  <div class="form-group row">
    <label for="inputJabatan" class="col-sm-2 col-form-label required">Jabatan</label>
    <div class="col-sm-10">
      <select class="form-control" formControlName="jabatan" name="jabatan">
        <option value="" selected>-- Choose --</option>
        <option *ngFor="let jb of jabatan;" [value]="jb.code">{{ jb.value }}</option>
      </select>
    </div>
  </div>
  <div class="form-group row">
    <label for="inputDivisi" class="col-sm-2 col-form-label required">Divisi</label>
    <div class="col-sm-10">
      <select class="form-control" formControlName="divisi" name="divisi">
        <option value="" selected>-- Choose --</option>
        <option *ngFor="let dv of divisi;" [value]="dv.code">{{ dv.value }}</option>
      </select>
    </div>
  </div>
  <div class="form-group row">
    <label for="inputUnit" class="col-sm-2 col-form-label required">Unit</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" formControlName="unit" name="unit" placeholder="unit" autocomplete="off">
    </div>
  </div>
  <div class="form-group row">
    <label for="inputRole" class="col-sm-2 col-form-label required">Role</label>
    <div class="col-sm-10">
      <select class="form-control" formControlName="userRoleId" name="role">
        <option value="" selected>-- Choose --</option>
        <option *ngFor="let rl of role;" [value]="rl.code">{{ rl.value }}</option>
      </select>
    </div>
  </div>
  <div class="form-group row">
    <label for="inputExpire" class="col-sm-2 col-form-label">Expire</label>
    <div class="col-sm-10">
      <input type="date" class="form-control" formControlName="expiredDate" name="expiredDate" placeholder="Expire Date">
    </div>
  </div>
  <div class="form-group row">
    <div class="col-sm-2 offset-sm-2">
      <button type="submit" class="btn btn-block btn-primary" [disabled]="!detailForm.valid" (click)="onSave()"><i class="fa fa-save"> Save</i></button>
    </div>
    <div class="col-sm-2">
      <button type="button" class="btn btn-block btn-secondary" (click)="onCancel()"><i class="fa fa-ban"> Cancel</i></button>
    </div>
  </div>
</form>