.img-header {
    width: 60%;
}
.img-header-full {
    width: 40%;
}

.border-nav {
    border-color: #EBEBEA;
}
.nav-link.active {
    color: #ffe484;
    border-bottom: 3px solid;
}

.thumbnail{
    width:200px;
    height:200px;
}