.img-header {
    width: 60%;
}
.img-header-full {
    width: 40%;
}

.border-nav {
    border-color: #EBEBEA;
}
.nav-link.active {
    color: #ffe484;
    border-bottom: 3px solid;
}

.thumbnail{
    width:150px;
    height:150px;
}

h4 a {
    color: #007bff;
    cursor: pointer;
}

h4 a:hover {
    color: #007bff;
    border-bottom: 1px solid;
}