<h4>Materi Quiz</h4>
<div class="line"></div>
<form>
  <div class="form-group row">
    <label for="inputName" class="col-sm-2 col-form-label">Name</label>
    <div class="col-sm-4">
      <input type="text" class="form-control" [(ngModel)]="filter.name" name="name" placeholder="Name" autocomplete="off">
    </div>
  </div>
  <div class="form-group row">
    <label for="inputDivisi" class="col-sm-2 col-form-label">Divisi</label>
    <div class="col-sm-4">
      <select class="form-control" [(ngModel)]="filter.divisi" name="divisi">
        <option value="" selected>All</option>
        <option *ngFor="let dv of divisi;" [value]="dv.code">{{ dv.value }}</option>
      </select>
    </div>
  </div>
  <div class="form-group row">
    <div class="col-sm-10 offset-sm-2">
      <div class="btn-group mr-2">
        <button type="button" class="btn btn-info" (click)="onSearch()"><i class="fa fa-search"> Search</i></button>
      </div>
      <div class="btn-group">
        <button type="button" class="btn btn-secondary" (click)="onAdd()"><i class="fa fa-plus"> Add</i></button>
      </div>
    </div>
  </div>
</form>
<h4>Materi List</h4>
<div class="table-responsive">
  <table class="table table-sm">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Header</th>
        <th scope="col">Divisi</th>
        <th scope="col">Start Date</th>
        <th scope="col">End Date</th>
        <th scope="col">Status</th>
        <th scope="col" class="text-center">Action</th>
      </tr>
    </thead>
    <tbody *ngIf="page">
      <tr *ngFor="let materi of page.data; let i = index">
        <th scope="row">{{ i + 1 }}</th>
        <td *ngIf="materi.publish === false">
          <a (click)="onEditQuiz(materi.id)">{{ materi.name }}</a>
        </td>
        <td *ngIf="materi.publish === true">
          {{ materi.name }}
        </td>
        <td>
          <h5>
            <ng-container *ngFor="let divisi of materi.divisiDisplay; let i = index">
              <span class="badge badge-pill mr-1" [ngClass]="i % 2 == 0 ? ' badge-success' : ' badge-info'">
                {{ divisi }}
              </span>
            </ng-container>
          </h5>
        </td>
        <td>{{ materi.startDateDisplay }}</td>
        <td>{{ materi.endDateDisplay }}</td>
        <td *ngIf="materi.publish === true; else notPublished">
          Published
        </td>
        <ng-template #notPublished>
          Not Published
        </ng-template>
        <td class="text-center">
          <div class="btn-group mr-2 mb-1">
            <button type="button" class="btn btn-primary btn-sm" (click)="onGoToUpload(materi.id)"><i class="fa fa-cloud-upload" aria-hidden="true"> Upload File</i></button>
          </div>
          <div class="btn-group mr-2 mb-1" *ngIf="materi.publish === false">
            <button type="button" class="btn btn-primary btn-sm" (click)="onGoToQuestion(materi.id)"><i class="fa fa-list" aria-hidden="true"> List Question</i></button>
          </div>
          <div class="btn-group mb-1" *ngIf="materi.publish === false">
            <button type="button" class="btn btn-success btn-sm" (click)="onPublish(materi.id)"><i class="fa fa-bullhorn" aria-hidden="true"> Publish</i></button>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
</div>
<asdp-paging *ngIf="page" [pagingData]="page" (notify)="onNotify($event)"></asdp-paging>