<div class="container my-3 white">
    <div class="row pt-4">
        <div class="col-sm-12">
            <img src="../../assets/image/logo_asdp_rev.png" alt="Image Logo" />
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-sm-9">
            <div class="row">
                <div class="col-sm-12">
                    <img class="img-fluid" src="../../assets/image/banner_information.jpeg" alt="Image Information">
                </div>
            </div>
            <br/>
            <div class="row">
                <div class="col-sm-12">
                    <router-outlet></router-outlet>
                </div>
            </div>
        </div>
        <div class="col-sm-3">
        </div>
    </div>
    <div class="pb-3">
        <asdp-footer></asdp-footer>
    </div>
</div>