.wrapper {
    display: flex;
    width: 100%;
    align-items: stretch;
}

#content {
    width: 100%;
    min-height: 100vh;
    transition: all 0.3s;
}

#content-item {
    padding: 20px;
}

.line {
    width: 100%;
    height: 1px;
    border-bottom: 1px dashed #ddd;
    margin: 40px 0;
}

@media only screen and (max-width: 575.98px) {
    .extend-wrapper { min-width: 150%; }
    .extend-footer { min-width: 150%; }
}


