<nav id="sidebar" [class.active]="isOpen">
  <div class="text-center sidebar-header">
    <img src="../../assets/image/logo_white_asdp.png" class="img-fluid img-logo" alt="imgLogo" />
  </div>

  <ul class="list-unstyled components">
    <p>Welcome, Superuser</p>
    <li>
      <a><i class="fa fa-tachometer" aria-hidden="true"></i> Dashboard</a>
    </li>
    <li *ngFor="let menu of menuList;">
      <a href="{{'#page'+menu.value}}" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle"><i class="{{menu.icon}}" aria-hidden="true"></i> {{ menu.value }}</a>
      <ul class="collapse list-unstyled" id="{{'page'+menu.value}}">
          <li *ngFor="let item of menu.menuItem;">
            <a (click)='goToPage(item.url)'>{{ item.menuName }}</a>
          </li>
      </ul>
    </li>
    <li>
      <a (click)='goSignOut()'><i class="fa fa-sign-out" aria-hidden="true"></i> Sign Out</a>
    </li>
  </ul>
</nav>