<nav id="sidebar" [class.active]="isOpen">
  <div class="sidebar-header">
    <h3>Info ASDP</h3>
  </div>

  <ul class="list-unstyled components">
    <p>Welcome, Superuser</p>
    <li class="active">
      <a href="#pageUser" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">User</a>
      <ul class="collapse list-unstyled" id="pageUser">
          <li>
            <a href="#">List User</a>
          </li>
          <li>
            <a href="#">History User</a>
          </li>
      </ul>
    </li>
    <li>
      <a href="#pageDocument" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Document</a>
      <ul class="collapse list-unstyled" id="pageDocument">
          <li>
            <a href="#">List Document</a>
          </li>
          <li>
            <a href="#">History Document</a>
          </li>
          <li>
            <a href="#">Pending Document</a>
          </li>
      </ul>
    </li>
    <li>
      <a href="#pageELearning" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">ELearning</a>
      <ul class="collapse list-unstyled" id="pageELearning">
          <li>
            <a href="#">List Quiz</a>
          </li>
          <li>
            <a href="#">Module ELearning</a>
          </li>
          <li>
            <a href="#">Result Quiz</a>
          </li>
      </ul>
    </li>
    <li>
      <a href="#">Sign Out</a>
    </li>
  </ul>
</nav>